.card{
    border: 3px solid black;
    padding: 20px;
    width: 300px;
}
.card>img{
    border-radius: 50%;
}
.card-content{
    border-top: 3px solid black;
}
.card-content>h2{
    color: bisque;
    background-color: brown;
    border-radius: 5px;
    padding:10px
}
.card-content>button{
    padding: 10px 20px;
    background-color: beige;
    border: none;
    border-radius: 20px;
}
.card-content>button>a{
    text-decoration: none;
    color: brown;
    font-weight: 900;
    font-size: 25px;
}
.boxes{
    width: 300px;

}
.boxes>div{
    height: 100px;
    width:100px;
    border-radius: 50%;
    margin: 20px;
}
.box1{
    background-color:blue;
    animation-name: mymove;
    animation-duration: 5s;
}
.box2{
    background-color:red;
    position: relative;
    animation-name: move2;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
animation-direction: alternate;
}
@keyframes mymove{
    from{
background-color: aquamarine;
width: 100px;
    }
    to{
background-color: black;
width:50px;
    }
}
@keyframes move2{
    0%{
top: 0;
left: 0;
    }
      100%{

           top: 100px;
        left: 300px;
        width: 120px;
        height:80px
    }
 
}
#mug{
position: absolute;
animation: vlieg 10s ease-in-out infinite;
}
@keyframes vlieg{
    0%{
        top: 0;
        left: 0;
    }
    20%{
        top:-10px;
        left: 100px;
    }
    40%{
        top:30px;
        left: 200px;
    }
    60%{
        top:0;
        left:50px
    }
    80%{
        top:200px;
        left :300px;
    }
    100%{
        top:0;
        left:0;
    }
}