
body{
    background-color: rgb(255, 99, 71);
    border: 2px powderblue;
    padding: 10px;
    margin: 30px;
}


h1{
    color: blue;
    background-color: aqua;
 font-size: 40px;
 font-family: verdana;
 border: 2px solid tomato;

 background-color:rgb(255, 99, 71);
}
h2{
    color:blueviolet;
    font-size: 30px;
    font-family: Gill Sans;
}
#style1{
    color: red;
    background-color:bisque;
}
h3{
    color: brown;
    background-color: black;
}
#paragraph1{
    background-color: aquamarine;
    color: whitesmoke;

    
}
#paragraph2{
    background-color:blue;
    color: black;
    font-size: 30 px;
    font-family: 'Courier New', Courier, monospace;
}
#I am a tooltip{
    color: blue;
    background-color: blue;

}
a:link{
    color: green;
    background-color: transparent;
}
table, th, td{
    border: 1 px solid black;
    border-collapse: collapse;
}