table, th, td{
    border: 2px solid blue;
    border-collapse: collapse;
}
td,th{
    padding: 10 px;
}
table{
    margin: 30px;
}
#tableayout{
    background-color: rgb(120,120,120);
}
#tableLayout th{
    color: aqua !important;

}
#tableLayout th,#tableLayout td:nth-child(1){
    color:aqua !important;
}
#tableLayout td:not(:nth-child(1)){
    color:white;
}
#tableLayout tr:nth-child(2n){

    background-color: blue;
    
}
#tableLayout tr:nth-child(2n)>td{
    background-color: darkblue;

}
#lijn{
    width: 800px;
    text-align: center;
   
}
#lijn th,#lijn td,#lijn{
    border: none !important;
}
#lijn th,#lijn td{
    border-bottom: 4px solid green !important;
    border-right: 2px solid blue !important;
}
#lijn th{
    border-top: 4px solid green !important;
    border-left: 4px solid green !important;
    border-right: 4px solid green !important;


}
#lijn td{
    height: 50px;
    vertical-align: bottom;

}
#lijn td:nth-child(1){
text-align:end ;
}
#lijn tr:hover{
    background-color: green ;
    cursor: progress;
    box-shadow: 0 10px 5px rgb(20,200,20)  ;
}