table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }
  
  
  table, th, td {
    border: 1px solid black;
    border-radius: 10px;
    border-color: blue;
    width: 2%;
    height: auto;
  }
  th, td {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
  }
  table {
    border-spacing: 30px;
  }
  
